.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-article {
    margin-bottom: 2rem;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main {
    padding: 2rem;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    width: 50%;
    
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}
